/* google-login-modal.component.css */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px); /* Move modal upwards */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Reset modal position */
  }
}

/* Define keyframes for slide-out animation */
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0); /* Reset modal position */
  }
  to {
    opacity: 0;
    transform: translateY(-50px); /* Move modal upwards */
  }
}

.google-login-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    animation-duration: 0.3s;
    animation-fill-mode: both;    
  }
  

/* Apply slide-in animation when showModal is true */
.slide-in {
  animation-name: slideIn;
}

/* Apply slide-out animation when showModal is false */
.slide-out {
  animation-name: slideOut;
}

/* Hide modal when showModal is false */
.hidden {
  display: none;
}

.google-button-container svg {
  width: 22px;
}

  .google-login-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
  }
  
  .close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .google-login-button {
    background-color: #db4437;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  
  /* .google-login-button img {
    margin-right: 10px;
    vertical-align: middle;
  } */
  